/* ALLGEMEIN */

* {
  margin: 0;                      /* Außenabstand */
  padding: 0;                     /* Innenabstand */
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  line-height: 140%;
}

body {
  background-color: #353535;
  background-image: linear-gradient(30deg, rgba(255, 0, 0, 0.432) 0%, black 70%)
}

.wrapper {                    /* Extra Feld damit Logo und Menupunkte in der Mitte bleiben*/
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
  z-index: 7;
}

.box {
  margin-bottom: 1200px;
  text-align: center;
  justify-content: center;
  z-index: 7;
}

h1 {
  color: #ffffff;
  padding: 2vh;
  text-indent: -10em;
  font-size: 32px;
}

h2 {
  color: #ffffff;
  padding: 2vh;
  font-size: 22px;
}

h3 {
  color: #ffffff;
  padding: 2vh;
  font-size: 12px;
}

/* NAVIGATION */

#navigation {                 /* Benennung der DIV IDs mit # */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(41, 0, 0);
  z-index: 7;
}

#logo {
  width: 100px;
  height: 80px;
  float: left;
  margin: 26px;
  z-index: 7;
}

#menu {
  float: right;
  margin-top: 25px;
  margin-right: 50px;
  z-index: 7;
}

#menu a {
  display: inline-block;
  margin-right: 20px;               /* Innenabstand rechts der Menupunkte */
  padding-top: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  z-index: 7;
}

#menu a:hover {
  border-bottom: solid white 2px;
}

/* CONTENT */

.firstcontent {
  padding-top: 70px;
  text-align: center;
  justify-content: center;
}

.content {
  padding-top: 50px;
  text-align: center;
  justify-content: center;
}

.content p {
  padding: 15px;
}

.content a {
  display: inline-block;
  margin: 5px;
  justify-content: center;
}

.test {
  padding-top: 100px;
  text-align: center;
  justify-content: center;
}

.content input {
  display: inline-block;
  background-color: #7e7e7e;
  border: none;
  border-radius: 4px;
  font-family: Helvetica;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 18px;
  width: 180px;
  margin: 6px;
  box-sizing: border-box; 
}

.content table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-spacing: 12px 6px;
  font-size: 1.2rem;
}

#popup {
  padding: 15px;
}

#popup input {
  padding: 15px;
}

.return {
  text-align: center;
  justify-content: center;
}

.return a{
  display: inline-block;
  padding: 50px;
}

/*
.content form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.content form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.content form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.content form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}
.content form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.content form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.content form .register-form {
  display: none;
}
*/

/* BUTTONS */

.button {
  display: inline-block;
  background-color: #b74141;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 34px;
  text-decoration: none;
  cursor: pointer;
}

.buttontest {
  display: inline-block;
  background-color: #b74141;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 17px;
  text-decoration: none;
  cursor: pointer;
}

.on {
  background-color: #b74141;
}

.on:hover {
  background-color: #dd5555;
}

.off {
  background-color: #353535;
}

.off:hover {
  background-color: #575757;
}

.tsl {
  background-color: #b76241;
}

.tsl:hover {
  background-color: #ca7756;
}

.gpio {
  background-color: #353535;
}

.gpio:hover {
  background-color: #575757;
}


.save {
  background-color: #b76241;
}

.save:hover {
  background-color: #ca7756;
}

.restart {
  background-color: #221246;
}

.restart:hover {
  background-color: #2a1757;
}

.reset {
  background-color: #a8124c;
}

.reset:hover {
  background-color: #c2225f;
}

.submit {
  background-color: #7e7e7e;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 4px;
}

.submit:hover {
  background-color: #a0a0a0;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}